*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #333333;
  font-size: 62.5%;
  color: #8f9490;
}

h1, h2, h3, h4, h5, h6 {
  color: #f1eff2;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.container {
  width: 760px;
  /* background-color: white; */
  margin: 100px auto;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/* main section starts Here */

.banner-image {
  width: 760px;
  height: 390px;
  display: relative;
}

.banner-image img {
  width: 100%;
  height: 100%;
}

.banner-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 4em;
}

.banner-info>h1 {
  letter-spacing: 0.1em;
  font-weight: 100;
}

.banner-info p {
  max-width: 350px;
  line-height: 2em;
  width: 100%;
  margin: 0 auto;
}

.banner-info button {
  font-size: 1.3em;
  width: 10em;
  height: 2.5em;
  color: #edf7ff;
  background-color: #7bcbc8;
  border: none;
  border-radius: 0.2em;
  margin-top: 100px;
  cursor: pointer;
}

/* main section Ends Here */

/* Section One starts here */

.one {
  background-color: #e8b968;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.one .one-info {
  width: 322px;
  position: absolute;
  top: 3em;
  left: 5em;
}

.one .one-img {
  position: absolute;
  right: -30px;
  top: 30px;
  width: 300px;
  height: 400px;
}

.one .one-img img {
  width: 100%;
  height: 100%;
}

.one-info p {
  color: #fcf1db;
  margin: 20px 0;
}

.one-info button {
  font-size: 1.3em;
  width: 10em;
  height: 2.5em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  background-color: #e8b968;
  border: 2px solid white;
  color: #edf7ff;
  margin: 1em 0;
}

/* Section One Ends Here */

/* Section two starts here */

.two {
  height: 250px;
  background-color: #5b696a;
  display: flex;
  align-items: center;
}

.two .two-info {
  text-align: center;
  flex-basis: 100%;
}

.two .two-info img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.two .two-info p {
  font-size: 1.4em;
  letter-spacing: .2em;
}

.two .two-info span {
  font-size: 1.2em;
  color: white;
}

.two-info span::before, .two-info span::after {
  content: 'o';
  margin: 0 1em;
}

/* Section two Ends Here */

/* Section three starts here */

.three {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 320px;
  position: relative;
}

.three-items {
  max-width: 300px;
  flex-basis: 50%;
  margin: 3em 3em;
}

.three-items h4 {
  color: rgb(244, 247, 252);
}

.vl {
  border-left: 1px solid rgba(171, 170, 170, 0.15);
  height: 250px;
  position: absolute;
  left: 37em;
  top: 6em;
}

.button-flex {
  display: flex;
  justify-content: center;
}

button.demo {
  font-size: 1.3em;
  width: 10em;
  height: 2.5em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  background-color: #333333;
  /* background-color: #5b696a; */
  border: 1px solid white;
  color: #edf7ff;
  margin: 8em 0 6em 0;
}

/* Section three Ends Here */

/* Section four starts here */

.four {
  padding: 5em 0;
  display: flex;
  background-color: #f6f6f4;
  position: relative;
}

/* .four .four-wrapper {
  width: 500px;
} */

.four-items {
  margin: 2em 0.4em;
}

.four-items h3 {
  color: rgba(56, 56, 56, 0.74);
}

.four-items:first-child {
  margin-left: 100px;
}

.four img {
  width: 150px;
  height: 150px;
}

.four .card {
  background-color: white;
}

.four .card-info {
  margin: 1em;
}

.four .four-info {
  width: 200px;
  margin-left: 3em;
}

.arrow {
  position: absolute;
  bottom: 6em;
  right: 14em;
}

.arrow span>p {
  color: black;
  cursor: pointer;
}

/* Section four Ends Here */

/* footer starts here */

.footer-flex-parent {
  height: 300px;
  background-color: #7bcbc8;
  display: flex;
  color: #FFFDF8;
  padding: 2em 0;
  position: relative;
}

.item-one {
  flex: 2;
  margin-left: 10em;
}

.item-two {
  flex: 1;
  margin: 0 2em;
}

.item-three {
  flex: 2;
  margin-left: 3em;
  line-height: 2;
}

.item-three ul li {
  list-style: none;
  text-decoration: none;
}

.footer-website {
  position: absolute;
  top: 17em;
  display: flex;
  justify-content: center;
  width: 100%;
  letter-spacing: 0.2em;
}

/* footer Ends Here */