*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto; }

#one header {
  background-image: url(/images/section-one-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 1024px;
  width: 100%;
  height: 955px; }

/* On screens that are 992px or less, set the background color to blue */
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 120px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none; }
  ul .logo {
    color: white;
    margin-right: auto; }
    ul .logo a {
      border-bottom: 2px solid white;
      font-size: 25px; }
  ul a {
    color: #ffff;
    text-decoration: none;
    margin-right: 21px;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    padding: 20px 10px;
    z-index: 1;
    margin-right: 0; }
  ul a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  ul a:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  ul a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-left: 4px solid white;
    border-right: 4px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: scaleY(0);
    transform: scaleY(0); }
  ul a:hover::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  ul span.border {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  ul a span.border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  ul a:hover span.border::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-delay: 1s;
    transition-delay: 1s; }
  ul a span.border::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-left: 4px solid white;
    border-right: 4px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: scaleY(0);
    transform: scaleY(0); }
  ul a:hover span.border::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s; }

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #11223b;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffff;
  font-size: 30px;
  display: none; }
  .toggle i {
    color: #d79b33;
    font-size: 25px;
    margin-right: 5%;
    cursor: pointer; }

@media (max-width: 768px) {
  header {
    min-width: 1024px;
    width: 20%; }
  .toggle {
    display: block; }
  ul {
    width: 100%;
    display: none; }
  ul li {
    display: block;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background: #040813; }
  .active {
    display: block; } }

.sectionTwoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 400px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section-two-left {
  margin-right: 30px; }
  .section-two-left img {
    width: 250px;
    margin-left: 70px; }
  .section-two-left p {
    width: 100%;
    max-width: 390px;
    text-align: center; }
  .section-two-left .heading-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .section-two-left .heading-wrapper h2 {
      text-align: center;
      margin: 22px 0;
      color: #c99963;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      border-bottom: 3px solid #c99963;
      display: inline-block;
      margin: 0 auto;
      margin: 20px 0;
      padding-bottom: 5px; }

.section-two-right {
  margin-left: 30px; }
  .section-two-right img {
    width: 100%;
    max-width: 420px; }

#three img {
  min-width: 1024px;
  width: 100%;
  height: 500px; }

#four .section-four-left {
  margin-left: 30px; }
  #four .section-four-left img {
    width: 250px;
    margin-left: 70px; }
  #four .section-four-left p {
    width: 100%;
    max-width: 390px;
    text-align: center; }
  #four .section-four-left .heading-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #four .section-four-left .heading-wrapper h2 {
      text-align: center;
      margin: 22px 0;
      color: #c99963;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      border-bottom: 3px solid #c99963;
      display: inline-block;
      margin: 0 auto;
      margin: 20px 0;
      padding-bottom: 5px; }

#four .section-four-right {
  margin-left: 30px; }
  #four .section-four-right img {
    width: 100%;
    max-width: 420px; }

#five img {
  min-width: 1024px;
  width: 100%;
  height: 500px; }

#six .section-six-left {
  margin-right: 30px; }
  #six .section-six-left img {
    width: 250px;
    margin-left: 70px; }
  #six .section-six-left p {
    width: 100%;
    max-width: 390px;
    text-align: center; }
  #six .section-six-left .heading-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #six .section-six-left .heading-wrapper h2 {
      text-align: center;
      margin: 22px 0;
      color: #c99963;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      border-bottom: 3px solid #c99963;
      display: inline-block;
      margin: 0 auto;
      margin: 20px 0;
      padding-bottom: 5px; }

#six .section-six-right {
  margin-left: 30px; }
  #six .section-six-right img {
    width: 100%;
    max-width: 420px; }

#seven {
  height: 324px;
  background: #080808;
  color: #ffff;
  min-width: 1024px;
  width: 100%; }

.seven-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 10px; }

.items {
  padding-right: 10px; }
  .items p {
    margin: 10px 0;
    color: #D2CCCC; }
  .items h2 {
    color: #F3F1F1;
    margin: 18px 0; }

.item1 {
  grid-column: 1/4;
  grid-row: 3; }

.item2 {
  grid-column: 1/4;
  grid-row: 4; }

.item3 {
  grid-column: 2/5;
  grid-row: 4; }

.item4 {
  grid-column: 5/-1;
  grid-row: 3; }

.item5 {
  grid-column: 5/-1;
  grid-row: 4; }

.item6 {
  grid-column: 6/-1;
  grid-row: 4; }

.item7 {
  grid-column: 7/-1;
  grid-row: 4; }

.copyright {
  height: 80px;
  background: #13161c;
  color: #D2CCCC;
  font-size: 12px; }

.copyright-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.top {
  text-align: center;
  position: relative; }
  .top p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .top p a {
      position: absolute;
      color: black;
      background: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 900;
      border-radius: 50%;
      width: 60px;
      height: 60px; }
    .top p span {
      margin-top: 2px;
      display: block;
      font-size: 20px; }
