
#four {
    .section-four-left {
      margin-left: 30px;
        img {
          width:250px;
          margin-left: 70px;
        }
        p {
          width: 100%;
          max-width: 390px;
          text-align: center;
        }
       .heading-wrapper {
         display: flex;
         justify-content: center;
        h2 {
          text-align: center;
          margin: 22px 0;
          color: $gold;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 1px;
          border-bottom: 3px solid $gold;  
          display: inline-block;
          margin: 0 auto;
          margin: 20px 0;
          padding-bottom: 5px;
        }
       }
      }
      
      .section-four-right {
        margin-left: 30px;
        img {
          width: 100%;
          max-width: 420px;
      
        }
      }
    
    }
    