@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,900");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body,
a {
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

img {
  max-width: 400px;
  width: 70%;
  display: block;
  margin: 0 auto; }

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 800px; }

#one .top-nav-wrapper {
  height: 50px;
  max-height: 100%; }

#one .top-nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #one .top-nav-flex .hamburger > i {
    color: #F2F2F2;
    background: #7E795B;
    font-size: 25px;
    cursor: pointer;
    padding: 0.5rem 0.9rem; }
  #one .top-nav-flex .logo > i {
    color: #F2F2F2;
    background: #6dc2a3;
    font-size: 25px;
    padding: 0 15px;
    height: 100%;
    min-height: 50px;
    line-height: 2; }

#one nav {
  background: #000000cf; }
  #one nav ul {
    line-height: 4rem;
    text-align: center;
    list-style-type: none;
    -webkit-transition: background-color 2.5s ease-out;
    transition: background-color 2.5s ease-out;
    display: none; }
    #one nav ul a {
      text-decoration: none;
      font-size: 1.4rem;
      color: #F2F2F2; }
    #one nav ul a:hover,
    #one nav ul a:active {
      background: #2d3047;
      color: #999999; }

#one .active {
  display: block; }

#two {
  background: #6dc2a3;
  max-height: 600px;
  height: 100%;
  text-align: center;
  overflow: hidden; }
  #two h1 {
    font-size: 3rem;
    color: #F2F2F2;
    padding: 1.2rem 0;
    letter-spacing: 3px; }
  #two p {
    font-size: 1.5rem;
    color: #e5e5e5;
    line-height: 1.5; }
  #two .two-icons {
    font-size: 1.5rem;
    border: 2px solid #e5e5e5;
    color: #e5e5e5;
    margin: 1rem 0.5rem;
    margin-bottom: 10%;
    padding: 5px 10px; }
  #two .fa-facebook-f {
    padding: 5px 17px; }
  #two img {
    margin: 27px auto; }
  #two .two-content-desc {
    display: none; }

#three {
  min-height: 450px;
  height: 100%; }
  #three .section-three-a {
    text-align: center;
    margin: 2rem; }
    #three .section-three-a h1 {
      font-weight: 300;
      font-size: 2rem;
      color: #333333; }
      #three .section-three-a h1 span {
        color: #7E795B;
        font-weight: 600; }
    #three .section-three-a p {
      margin: 3rem 0 1rem 0;
      text-transform: uppercase;
      font-size: 0.7rem; }
    #three .section-three-a input {
      border: none;
      background: rgba(128, 128, 128, 0.11);
      max-width: 1200px;
      width: 100%;
      min-height: 60px;
      height: 100%; }
    #three .section-three-a button {
      color: #ffff;
      padding: 0.8rem 1.9rem;
      border-radius: 5%;
      background: #7E795B;
      margin: 1rem 0;
      cursor: pointer; }
  #three .section-three-b {
    background: #7E795B;
    color: #fff; }
    #three .section-three-b .three-flex-b {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 203px;
      width: 75%;
      max-width: 1200px; }
    #three .section-three-b h1 {
      font-size: 1.8rem;
      line-height: 1.5;
      text-align: center;
      font-weight: 100;
      text-transform: uppercase; }
  #three .section-three-c {
    background: #fff;
    color: #6dc2a3;
    min-height: 225px;
    height: 100%;
    text-align: center;
    margin: 1rem 0; }
    #three .section-three-c .three-flex-c {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 225px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    #three .section-three-c h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 1rem; }

#four {
  background-color: rgba(206, 206, 206, 0.288);
  min-height: 700px;
  height: 100%;
  text-align: center; }
  #four h1 {
    color: #6dc2a3;
    font-size: 2.3rem;
    padding: 2rem 0;
    font-weight: 100;
    line-height: 1.3;
    margin: 2rem 0 1rem 0; }
  #four .four-subheadings h4 {
    text-transform: uppercase;
    font-weight: 900;
    color: #333333; }
  #four .four-subheadings p {
    color: #999999;
    font-size: 13px;
    margin-top: 1rem; }
  #four .four-green-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #6dc2a3;
    margin: 5% auto 20% auto; }
  #four .four-phone-image img {
    margin: 4rem auto; }
  #four .section-four-box {
    display: none; }

#five .section-five-a {
  min-height: 180px;
  background: #333333;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #five .section-five-a h1 {
    font-size: 2.3rem;
    text-transform: uppercase;
    color: #F2F2F2;
    letter-spacing: 1.2px;
    font-weight: 500;
    line-height: 4rem; }
  #five .section-five-a p {
    color: #999999; }

#five .section-five-b {
  text-align: center; }
  #five .section-five-b .five-subheadings h4 {
    font-weight: 300;
    color: #333333;
    font-size: 2rem;
    color: #ff9869; }
  #five .section-five-b .five-subheadings p {
    color: #999999;
    font-size: 13px;
    margin: 2rem 0;
    line-height: 1.4rem; }
  #five .section-five-b .five-gray-circle {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: #cccccc;
    margin: 2rem auto; }

#six .section-six-one {
  min-height: 180px;
  background: #6dc2a3;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #six .section-six-one h1 {
    font-size: 2.3rem;
    text-transform: uppercase;
    color: #F2F2F2;
    letter-spacing: 1.2px;
    font-weight: 500;
    line-height: 4rem; }
  #six .section-six-one p {
    color: #e5e5e5; }

#six .section-six-two {
  background: #000000cf;
  color: #F2F2F2; }
  #six .section-six-two form {
    padding: 4rem 0 0 0;
    font-size: 1.3rem; }
    #six .section-six-two form label {
      font-weight: 300;
      line-height: 4rem;
      text-transform: uppercase; }
    #six .section-six-two form input#name,
    #six .section-six-two form input#mail {
      background: #F2F2F2;
      color: #333333;
      max-width: 400px;
      width: 100%;
      min-height: 50px;
      height: 100%;
      margin-bottom: 1rem; }
    #six .section-six-two form textarea#msg {
      background: #F2F2F2;
      color: #333333;
      max-width: 500px;
      width: 100%;
      min-height: 160px;
      height: 100%; }
    #six .section-six-two form button {
      color: #ffff;
      padding: 0.8rem 1.9rem;
      border-radius: 2%;
      background: #ff9869;
      margin: 2rem 0;
      cursor: pointer;
      border: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1rem; }
  #six .section-six-two .facebook-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 140px;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #six .section-six-two .facebook-icon .fa-facebook-f {
      font-size: 1.5rem;
      border: 2px solid #e5e5e5;
      color: #e5e5e5;
      padding: 8px 17px; }

#six .section-six-three {
  min-height: 60px;
  background: #6dc2a3;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #six .section-six-three p {
    font-size: 13px;
    color: #F2F2F2; }

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
  #two {
    text-align: initial;
    max-height: 389px;
    height: 100%;
    overflow: hidden; }
    #two h1 {
      margin-top: 2.4rem; }
    #two p {
      font-size: 16px;
      color: #F2F2F2; }
    #two .tagline {
      font-size: 1.2rem;
      margin-bottom: 1rem; }
    #two .two-content-wrapper {
      grid-column: 1/7; }
    #two .two-content-desc {
      display: block; }
    #two .iphone-wrapper {
      grid-column: 7/-1; }
      #two .iphone-wrapper img {
        max-width: 400px;
        width: 78%;
        display: block;
        margin: 27px auto; }
  #three .section-three-a {
    padding-bottom: 2rem; }
    #three .section-three-a h1 {
      grid-column: 1/-1; }
    #three .section-three-a p {
      grid-column: 1/-1;
      color: #6dc2a3; }
    #three .section-three-a input {
      grid-column: 1/10;
      border: none;
      background: rgba(128, 128, 128, 0.11);
      max-width: 1200px;
      width: 100%;
      min-height: 41px;
      height: 70%; }
    #three .section-three-a button {
      grid-column: 10/-1;
      border-radius: 5%;
      cursor: pointer;
      margin: 0 auto;
      padding: 0 28%; }
  #three .section-three-b .three-flex-b {
    height: 178px;
    width: 94%;
    max-width: 1200px; }
  #three .section-three-b h1 {
    font-size: 1.5rem; }
  #three .section-three-c {
    min-height: 137px; }
    #three .section-three-c .three-flex-c {
      height: 137px; }
  #four .section-four-box {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 2rem; }
    #four .section-four-box .section-four-items {
      background: white;
      padding: 3.5rem 5rem;
      margin: 1rem; }
      #four .section-four-box .section-four-items h1,
      #four .section-four-box .section-four-items p {
        margin: 0;
        padding: 0; }
      #four .section-four-box .section-four-items h1 {
        font-size: 2.5rem;
        color: #ff9869;
        padding-bottom: 3px; }
      #four .section-four-box .section-four-items p {
        font-size: 14px; }
  #four .four-subheading-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #four .four-subheading-grid .item-one {
      grid-column: 1/7;
      grid-row: 1; }
    #four .four-subheading-grid .item-two {
      grid-column: 1/7;
      grid-row: 2; }
    #four .four-subheading-grid .item-three {
      grid-column: 7/8;
      grid-row: 1/3; }
      #four .four-subheading-grid .item-three img {
        width: 200px; }
    #four .four-subheading-grid .item-four {
      grid-column: 8/-1;
      grid-row: 1; }
    #four .four-subheading-grid .item-five {
      grid-column: 8/-1;
      grid-row: 2; }
    #four .four-subheading-grid .four-subheadings {
      max-width: 300px; }
  .five-grid-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .five-grid-one p {
      width: 100%;
      text-align: left; }
    .five-grid-one h4 {
      text-align: left; }
    .five-grid-one .five-gray-circle {
      grid-row: 1;
      grid-column: span 1; }
  .five-grid-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .five-grid-two .five-details {
      grid-row: 1; }
    .five-grid-two p {
      text-align: left; }
    .five-grid-two h4 {
      text-align: left; }
  .five-grid-three {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .five-grid-three p {
      width: 100%;
      text-align: left; }
    .five-grid-three h4 {
      text-align: left; }
    .five-grid-three .five-gray-circle {
      grid-row: 1;
      grid-column: span 1; } }

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */ }

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */ }

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */ }

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */ }
